@model InsecureWebsite.Models.MessengerModel

@{
    ViewBag.Title = "Messenger";
    Layout = "_Layout";
}

<h2>Messenger</h2>

@if (TempData.TryGetValue("Error", out var error))
{
    <p class="text-danger">@error</p>
}
@if (TempData.TryGetValue("Success", out var success))
{
    <p class="text-success">@success</p>
}

<div class="card" style="width: 50rem;">
    <div class="card-header" style="font-weight: bold">Send message</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Send messages to another user.
        </li>
        <li class="list-group-item">
            <div class="card-body">
                @using (Html.BeginForm("SendMessage", "Messenger", FormMethod.Post, new {name = "SendMessageForm"}))
                {
                    <label>Other user</label>
                    <input class="form-control" id="SendMessageOtherUser" type="text" name="OtherUser" value="" maxlength="20"/>
                    <br/>
                    <label>Message to send</label>
                    <input class="form-control" id="SendMessageMessage" type="text" name="Message" value="" style="width: 100%" maxlength="2048"/>
                    <input type="submit" value="Submit" class="btn btn-sm btn-success"/>
                }
            </div>
        </li>
    </ul>
</div>
<br/>
<div class="card" style="width: 50rem;">
    <div class="card-header" style="font-weight: bold">Search messages</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Search for messages you've sent to and received from another user.
        </li>
        <li class="list-group-item">
            <div class="card-body">
                @using (Html.BeginForm("Index", "Messenger", FormMethod.Get))
                {
                    <label>Other user</label>
                    <input class="form-control" id="otherUserSearch" type="text" name="otherUserSearch" value=""/>
                    <input type="submit" value="Search" class="btn btn-sm btn-success"/>
                }
            </div>
        </li>
    </ul>
</div>
<br/>

@if (Model != null && Model.Messages != null)
{
    <h3>Messages</h3>

    if (Model.Messages.Length > 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var messageModel in Model.Messages)
            {
                <tr>
                    <td>@messageModel.FromUsername</td>
                    <td>@messageModel.ToUsername</td>
                    <td>@Html.Raw(messageModel.Message)</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No messages found</p>
    }
}