@model InsecureWebsite.Models.MessengerModel

@{
    ViewBag.Title = "Messenger";
    Layout = "_Layout";
}

<h2>Messenger</h2>
<p>Look at or send messages between yourself and another user.</p>

@if (!string.IsNullOrWhiteSpace(ViewBag.Error))
{
    <p class="text-danger">@ViewBag.Error</p>
}
@if (!string.IsNullOrWhiteSpace(ViewBag.Success))
{
    <p class="text-success">@ViewBag.Success</p>
}

@Html.ValidationSummary("", new {@class = "text-danger"})

@using (Html.BeginForm("SendMessage", "Messenger", FormMethod.Post))
{
    <h3>Send message</h3>
    <label>Other user</label>
    <input id="OtherUser" type="text" name="OtherUser" value="" maxlength="20"/>
    <br/>
    <label>Message to send</label>
    <input id="Message" type="text" name="Message" value="" maxlength="2048"/>
    <input type="submit" value="Submit" class="btn btn-sm btn-success"/>
}

@using (Html.BeginForm("GetMessages", "Messenger", FormMethod.Post))
{
    <h3>Search for messages</h3>
    <label>Other user</label>
    <input id="OtherUser" type="text" name="OtherUser" value=""/>
    <input type="submit" value="Search" class="btn btn-sm btn-success"/>
}

@if (Model != null && Model.Messages != null)
{
    <h3>Messages</h3>

    if (Model.Messages.Length > 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var messageModel in Model.Messages)
            {
                <tr>
                    <td>@messageModel.FromUsername</td>
                    <td>@messageModel.ToUsername</td>
                    <td>@Html.Raw(messageModel.Message)</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No messages found</p>
    }
}